.productPic {
    display: flex;
    justify-content: center;
    background-color: #f4f2ef;
  }

  .productPic img {
    /* how to enlarge??? */
    width:200%;
    height:200%;
  }

  .productInfo {
    margin-top:5%;
  }
  
  .productInfo p {
    color: #080B13;
    opacity: 0.4;
  }

  .productInfo h4 {
    font-family: 'Basis Grotesque Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 135%;
    text-align: center;
    color: #080B13;   
    flex: none;
    order: 1;
    flex-grow: 0;
  }