@import url('https://fonts.cdnfonts.com/css/basis-grotesque-pro');

#topNav {
    display: flex;
    padding: 2%;
    justify-content: space-between;
  }
  
  .navbarMid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:25%;
 
  }
  .navBarMid p {

    /* this is not functioning */
    font-family: 'Basis Grotesque Pro', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 120%;
color: #080B13;
  }

  .navbarEnd {

  }

  .logoDiv {

  }

  .logoDiv img{
    width:150%;
    height:auto;
    padding-top:2%;
  }