/* 
#9E7676
#815B5B
#594545
#FFF8EA
 */

body {
  background-color: #FFF8EA;
}

.App {
  text-align: center;
  color:#594545;
  background-color: #FFF8EA;
}

.navbar {
  border-bottom: 5px solid black;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: large;
}

footer {
  border-top:5px solid black;
}